body {background-color: rgb(240, 255, 250);}

h1 {text-align: center;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
color: blue;}

h2 {text-align: center;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
color: rgba(0, 89, 255, 0.801);}

h3 {text-align: left;
    font-style: normal;
font-family: 'Times New Roman', Times, serif;
color: cornflowerblue;}

p {text-align: left;
    font-style: italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4{text-align: left;
    font-style: inherit; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightskyblue;}

img {display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: deepskyblue;
}

footer {font-style: italic;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}